$emblem-blue: rgb(0, 117, 220);
$emblem-blue-lite: rgb(197, 228, 255);
// $emblem-blue: rgb(19, 72, 231);
// $emblem-blue-lite: rgb(198, 212, 255);
$app-purple: rgb(137, 95, 255);

// $bgdark: #1e1d32;
// $bgdark: #0075dc;
$bgdark: #840000;
$offwhite: #fefff2;

$color_light: #eeeeed;
$color_primary: #0075dc;
$color_primary-dark: #0062b8;
$color_secondary1: #7ebdd3;
$color_secondary2: #485b82;
$color_dark: #171923;
$color_dark-transparent: rgba(23, 25, 35, 0.7);

// desktop -> 768px --- Example: @media only screen and (min-width: 768px)
// tablet  -> 600px --- Example: @media only screen and (min-width: 600px)
// phones  -> 480px --- Example: @media only screen and (min-width: 480px)

$banner-height: 5rem;
$viewselect-height: 35px;

body {
    font-family: sans-serif;
    background-color: $color_light;
    margin: 0;
}

a.btn {
    color: $color_primary;
    text-decoration: none;
    width: max-content;
    &:visited, &.btn:visited {
        color: $emblem-blue;
    }
    &:hover {
        text-decoration: underline;
    }
}

.btn {
    cursor: pointer;
    user-select: none;
    display: grid;
    padding: 6px;
    color: $color_dark;
    border-radius: 5px;
    transition: all linear 100ms;

    &#menu-btn {
        color: $color_light;
        background-color: $color_primary;
        &:hover {
            background-color: $color_primary-dark;
        }
    }
}

$banner-height: 3rem;
$banner-padding: 1rem;
$sidemenu-margin: 1rem;
$sidemenu-width: 40vw;

div#menu-overlay {
    color: $color_light;
    background-color: rgba(23, 25, 35, 0.528);
    height: 100vh; width: 100vw;
    position: fixed;
    top: 0vh;
    transition: top ease-in-out 250ms;
    z-index: 4;
    &.hidden {
        top: -100vh;
    }
}
div.side-menu {
    display: grid;
    color: $color_light;
    height: 100vh; width: $sidemenu-width;
    position: fixed;
    top: 0vh; right: 0vw;
    z-index: 4;
    transition: all ease-in-out 250ms;
    background-color: $color_dark-transparent;
    backdrop-filter: blur(5px);
    grid-template-rows: max-content auto;

    &.hidden { right: calc(-1 * #{$sidemenu-width}); }

    .close-btn {
        display: grid;
        cursor: pointer;
        user-select: none;
        width: 40px; height: 40px;
        margin-left: $sidemenu-margin;
    }
    .close-btn > svg { 
        fill: $color_light;
        width: inherit; height: inherit; 
    }
    
    &#character-menu {
        .character.btn {
            width: 120px;
        }
    }
    
    .menu-list {
        display: grid;
        row-gap: 1rem;
        align-content: start;
        .btn {
            cursor: pointer;
            padding: 0.5rem;
            color: $color_light;
            justify-content: right;
            justify-self: right;
            font-size: 20px;
            margin-right: $sidemenu-margin; 
            &:hover, &.selected {
                background-color: $color_primary;
            }
        }
    }
       
}

div#site-header {
    color: $color_light;
    display: grid;
    grid-template-columns: max-content max-content auto;
    background-color: $color_dark;
    position: fixed;
    top: 0; left: 0; right: 0;
    height: $banner-height;
    padding: $banner-padding;

    align-content: center;
    align-items: center;
    justify-content: space-between;

    #app-title {
        font-size: 25px;
    }

    .btn {
        height: max-content;
        width: max-content;
    }


    @media only screen and (max-width: 480px) {
        #app-title {
            font-size: 22px;
        }
    }
}

div#content {
    margin-top: calc(#{$banner-height} + 2 * #{$banner-padding}); // to compensate for fixed banner
    #page-list {
        display: grid;
        grid-template-rows: auto auto;
        justify-content: center;
        align-items: center;
        align-content: center;

        .game-links {
            display: grid;
        }
    }
}


