body {
  margin: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode',
    Geneva, Verdana, sans-serif; }
  @media screen and (min-width: 768px) {
    body {
      height: 100vh;   }
}

a {
  color: unset;
  text-decoration: none; }
  a:visited {
    color: unset; }

.nav-group {
  padding: 0.5rem; }

  .btn-group, .nav-group {
    cursor: pointer;
    display: flex;
    justify-content: center; }
    .btn-group.sub, .nav-group.sub {
      column-gap: 1rem; }
      .btn-group .btn, .nav-group .btn {
        color: #0075dc;
        border: 1px solid #0075dc;
        border-radius: 5px;
        background-color: #fff; }
        .btn-group .btn.selected, .btn-group .btn:hover, .nav-group .btn.selected,
        .nav-group .btn:hover {
          color: #fff;
          background-color: #0075dc; }
    .btn-group .nav, .nav-group .nav {
      border-right: 1px solid black; }
      .btn-group .nav:last-child, .nav-group .nav:last-child {
        border-right: none; }

.btn {
  cursor: pointer;
  padding: 5px;
  border-radius: 5px;
  transition: all linear 100ms; }

  .nav {
    color: #000;
    font-size: 20px;
    transition: color linear 100ms;
    padding: 0.5rem 1rem;
    margin-top: 3px;
    margin-bottom: 3px;
    justify-content: center;
    justify-items: center; }
    .nav.gm-page {
      color: #000; }
      .nav:hover {
        color: #0075dc; }

#base-content {
  display: grid;
  margin-left: 1rem;
  margin-right: 1rem; }
  @media screen and (min-width: 768px) {
    #base-content {
      position: absolute;
      top: 62px;
      bottom: 0;
      left: 0;
      right: 0;   }
}
    @media screen and (min-width: 768px) {
      #base-content .visuals-wrapper {
        height: 100%;
        display: grid;
        grid-template-columns: max-content auto;
        overflow-y: hidden;   }
        #base-content .info-navbar {
          position: relative;
          height: 90%;
          overflow-y: scroll;
          top: 0px;
          width: max-content;
          align-self: center;   }
          #base-content .info-navbar .btn {
            width: 90px;   }
      #base-content .info-content {
        display: grid;
        position: relative;
        height: 90%;
        overflow: clip;
        top: 0;
        align-self: center;
        padding: 0 1rem;   }
        #base-content #character-content {
          display: grid;
          grid-template-columns: auto;   }
          #base-content #character-content #image-and-info {
            display: grid;
            grid-template-columns: max-content auto;
            grid-template-rows: max-content;   }
            #base-content #character-content #image-and-info #character-image img {
              width: 200px;
              opacity: 0.3;   }
            #base-content #character-content #image-and-info #character-info {
              display: grid;
              grid-template-rows: auto auto;   }
              #base-content #character-content #image-and-info #character-info #name {
                font-size: 30px;
                justify-self: left;
                align-self: center;   }
                #base-content #character-content #image-and-info #character-info #info {
                  font-size: 20px;
                  align-self: center;   }
                  #base-content #character-content #image-and-info #character-info #info .lblval {
                    display: grid;
                    grid-template-columns: 100px auto;   }
                    #base-content #character-content #image-and-info #character-info #info .lblval .lbl,
                    #base-content #character-content #image-and-info #character-info #info .lblval .val {
                      padding: 5px;   }
                      #base-content #character-content #image-and-info #character-info #info .lblval .lbl {
                        font-weight: bold;   }
}
  #base-content .info-navbar .btn {
    color: #0075dc; }
    #base-content .info-navbar .btn.selected, #base-content .info-navbar .btn:hover {
      background-color: #c5e4ff; }
  #base-content .info-content {
    display: grid; }

.search-input-wrapper {
  display: flex;
  padding: 1rem;
  justify-items: center;
  justify-content: center; }
  .search-input-wrapper input[name="search"] {
    display: block;
    width: 85%;
    padding: 5px;
    font-size: 16px; }
