body {
  font-family: sans-serif;
  background-color: #eeeeed;
  margin: 0; }

  a.btn {
    color: #0075dc;
    text-decoration: none;
    width: max-content; }
    a.btn:visited, a.btn.btn:visited {
      color: #0075dc; }
      a.btn:hover {
        text-decoration: underline; }

.btn {
  cursor: pointer;
  user-select: none;
  display: grid;
  padding: 6px;
  color: #171923;
  border-radius: 5px;
  transition: all linear 100ms; }
  .btn#menu-btn {
    color: #eeeeed;
    background-color: #0075dc; }
    .btn#menu-btn:hover {
      background-color: #0062b8; }

div#menu-overlay {
  color: #eeeeed;
  background-color: rgba(23, 25, 35, 0.528);
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0vh;
  transition: top ease-in-out 250ms;
  z-index: 4; }
  div#menu-overlay.hidden {
    top: -100vh; }

div.side-menu {
  display: grid;
  color: #eeeeed;
  height: 100vh;
  width: 40vw;
  position: fixed;
  top: 0vh;
  right: 0vw;
  z-index: 4;
  transition: all ease-in-out 250ms;
  background-color: rgba(23, 25, 35, 0.7);
  backdrop-filter: blur(5px);
  grid-template-rows: max-content auto; }
  div.side-menu.hidden {
    right: calc(-1 * 40vw); }
    div.side-menu .close-btn {
      display: grid;
      cursor: pointer;
      user-select: none;
      width: 40px;
      height: 40px;
      margin-left: 1rem; }
      div.side-menu .close-btn > svg {
        fill: #eeeeed;
        width: inherit;
        height: inherit; }
        div.side-menu#character-menu .character.btn {
          width: 120px; }
  div.side-menu .menu-list {
    display: grid;
    row-gap: 1rem;
    align-content: start; }
    div.side-menu .menu-list .btn {
      cursor: pointer;
      padding: 0.5rem;
      color: #eeeeed;
      justify-content: right;
      justify-self: right;
      font-size: 20px;
      margin-right: 1rem; }
      div.side-menu .menu-list .btn:hover, div.side-menu .menu-list .btn.selected {
        background-color: #0075dc; }

div#site-header {
  color: #eeeeed;
  display: grid;
  grid-template-columns: max-content max-content auto;
  background-color: #171923;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 3rem;
  padding: 1rem;
  align-content: center;
  align-items: center;
  justify-content: space-between; }
  div#site-header #app-title {
    font-size: 25px; }
    div#site-header .btn {
      height: max-content;
      width: max-content; }
      @media only screen and (max-width: 480px) {
        div#site-header #app-title {
          font-size: 22px;   }
}

div#content {
  margin-top: calc(3rem + 2 * 1rem); }
  div#content #page-list {
    display: grid;
    grid-template-rows: auto auto;
    justify-content: center;
    align-items: center;
    align-content: center; }
    div#content #page-list .game-links {
      display: grid; }
