$emblem-blue: rgb(0, 117, 220);
$emblem-lightblue: rgb(197, 228, 255);
// $emblem-blue: rgb(19, 72, 231);
// $emblem-lightblue: rgb(198, 212, 255);
$app-purple: rgb(137, 95, 255);

// desktop -> 768px --- Example: @media only screen and (min-width: 768px)
// tablet  -> 600px --- Example: @media only screen and (min-width: 600px)
// phones  -> 480px --- Example: @media only screen and (min-width: 480px)

body {
    margin: 0;
    // font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    @media screen and (min-width: 768px) {
        height: 100vh;
    }
}

a {
    color: unset;
    text-decoration: none;
    &:visited {
        color: unset;
    }
}

.nav-group {
    padding: 0.5rem;
}

.btn-group, .nav-group {
    cursor: pointer;
    display: flex;
    justify-content: center;

    &.sub {
        column-gap: 1rem;
    }

    .btn {
        color: $emblem-blue;
        border: 1px solid $emblem-blue;
        border-radius: 5px;
        background-color: #fff;

        &.selected, &:hover {
            color: #fff;
            background-color: $emblem-blue;
        }
    }

    .nav {
        border-right: 1px solid black;
        &:last-child { border-right: none;}
    }
}

.btn {
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
    transition: all linear 100ms;
}

.nav {
    color: #000;
    font-size: 20px;
    transition: color linear 100ms;
    padding: 0.5rem 1rem;
    margin-top: 3px;
    margin-bottom: 3px;
    justify-content: center;
    justify-items: center;
    &.gm-page {
        color: #000;
    }
    &:hover {
        color: $emblem-blue;
    }
}

#base-content {
    display: grid;
    margin-left: 1rem;
    margin-right: 1rem;

    @media screen and (min-width: 768px) {
        position: absolute;
        top: 62px;
        bottom: 0;
        left: 0;
        right: 0;
    }
    @media screen and (min-width: 768px) {
        .visuals-wrapper {
            height: 100%;
            display: grid;
            grid-template-columns: max-content auto;
            overflow-y: hidden;
        }
        .info-navbar {
            position: relative;
            height: 90%;
            overflow-y: scroll;
            top: 0px;
            width: max-content;
            align-self: center;
            .btn {
                width: 90px;
            }
        }
        .info-content {
            display: grid;
            position: relative;
            height: 90%;
            overflow: clip;
            top: 0;
            align-self: center;
            padding: 0 1rem;
        }

        #character-content {
            display: grid;
            grid-template-columns: auto;
            #image-and-info {
                display: grid;
                grid-template-columns: max-content auto;
                grid-template-rows: max-content;
                #character-image {
                    img {
                        width: 200px;
                        opacity: 0.3;
                    }
                }
                #character-info {
                    display: grid;
                    grid-template-rows: auto auto;
                    #name {
                        font-size: 30px;
                        justify-self: left;
                        align-self: center;
                    }
                    #info {
                        font-size: 20px;
                        align-self: center;
                        .lblval{
                            display: grid;
                            grid-template-columns: 100px auto;
                            .lbl, .val {
                                padding: 5px;
                            }
                            .lbl {
                                font-weight: bold;
                            }
                        }
                    }
                }
                // #character-info {
                //     display: grid;
                //     grid-template-rows: max-content auto;
                    
                //     #character-name { 
                //         font-size: 30px;
                //         justify-self: center;
                //     }
                //     #base-stats {
                //         display: grid;
                //         grid-template-columns: max-content auto;
                //         align-content: baseline;
                //         .stat-col {
                //             font-size: 12px;
                //             display: grid;
                //             grid-template-columns: max-content auto;
                //             div {
                //                 padding: 3px 5px;
                //             }                            
                //             div.lbl { font-weight: bold; }

                //         }
                //     }

                // }
            }
        }

    }

    .info-navbar {
        .btn {
            color: $emblem-blue;
            &.selected, &:hover {
                background-color: $emblem-lightblue;
            }
        }
    }

    .info-content {
        display: grid;
    }

}

.search-input-wrapper {
    display: flex;
    padding: 1rem;
    justify-items: center;
    justify-content: center;

    input[name="search"] {
        display: block;
        width: 85%;
        padding: 5px;
        font-size: 16px;
    }
}